html {
    color: fuchsia
}
/*
body {
    color: blue; 
    background-color: dimgray;
}
*/
h1 {
    color: #ff4e00;
    background-color: beige;
}

p { 
    color: coral;
    font-size: 24pt;
    background-color: aqua;
}
a {
    color: red;
}
